body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

input,
select,
button {
    padding: 10px;
    font-size: 16px;
}

button {
    cursor: pointer;
}

.table {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background: #333;
    color: white;
}

.editBtn {
    background: orange;
    border: none;
    padding: 8px 12px;
}

.deleteBtn {
    background: red;
    color: white;
    border: none;
    padding: 8px 12px;
}